/*all css animations------------------------------*/

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes logo-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes back-fade-in {
    0% {}
    100% {background-image: url('../media/logobackskewed.png');}
}
@keyframes bgdark {
    0% {background-color: white;}
    100% {background-color: #d0d0d0}
}

/*-----------------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../media/gradientsideflip.png');
    color: white;
}

.jumbotron {
	background-image: url('../media/gradientsideflip.png');/* Orange */
    color: #ffffff;
    padding: 100px 25px;
    transition: 1s;
}

#jumbo-footer {
    background: none;
    z-index: 999;
}
#jumbo-footer>a {
    color: white;
    background: none;
}
#jumbo-footer>a:hover {
    color: black;
    transition: .3s;
    text-decoration: none;
}

/*"Scroll Down" text, which is set to bottom of jumbotron*/
#jumbo-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    clear: both;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: fade-in 1s linear 2.5s 1 normal;
    animation-fill-mode: forwards;
}

a {
    color: purple;
    transition: 0.5s;
}

.text-group>img {
    height: 200px;
    width: auto;
    
}

a#button {
    background-image: url('../media/logobackskewed.png') !important;
}

.container-fluid {
	padding: 60px 50px;
}

.btn-warning, .btn-warning:active, .btn-warning:visited {
    border: white;
    background-color: purple;
    transition: .5s;
}

a:hover {
    color: orange; 
}

footer {
	text-align: center;
	color: white;
	transition: 1s;
}

footer:hover {
    color: black;
	background-color: white;
}

.text-group {
    height: 100vh;
}

.text-group>div {
    background-color: rgba(225,225,225,0.3);
    padding: 80px 30px;
    border-radius: 50px;
}

#name {
    font-size: 60px;
}

#logo {
    text-align: center;
    animation: back-fade-in 1.5s linear .5s 1 normal;
    animation-fill-mode: forwards;
    padding: 0px;
    
}

#logo>img {
    opacity: 0;
    height: 100vh;
    margin: none;
    padding: none;
    animation: fade-in 2s linear 1s 1 normal;
    animation-fill-mode: forwards;
}
