/*all css animations------------------------------*/

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes logo-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes back-fade-in {
    0% {}
    100% {background-image: url('../media/logobackskewed.png');}
}
@keyframes bgdark {
    0% {background-color: white;}
    100% {background-color: #d0d0d0}
}

/*-----------------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, purple,orange);
    color: white;
}

.jumbotron {
    color: #ffffff;
    padding: 100px 25px;
    transition: 1s;
    background: transparent !important;
}

#jumbo-footer {
    background: none;
    z-index: 999;
}
#jumbo-footer>a {
    color: white;
    background: none;
}
#jumbo-footer>a:hover {
    color: black;
    transition: .3s;
    text-decoration: none;
}

#nav {
    margin: 2% 5%;
}

#nav>button {
    background: transparent;
}

/*"Scroll Down" text, which is set to bottom of jumbotron*/
#jumbo-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    clear: both;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: fade-in 1s linear 2.5s 1 normal;
    animation-fill-mode: forwards;
}

#myBtn {
    background: transparent;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.99); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 20px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 1s;
    
}

#myBtn:hover {
    color: orange;
  background-color: rgba(0,0,0,0.5); /* Add a dark-grey background on hover */
}

a {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

a:visited a:active{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: orange; 
}
.text-group>img {
    height: 200px;
    width: auto;
    
}

.container-fluid {
	padding: 60px 50px;
}

.btn-warning, .btn-warning:active, .btn-warning:visited {
    border: white;
    background-color: purple;
    transition: .5s;
}

footer {
	text-align: center;
	color: white;
	transition: 1s;
}

footer:hover {
    color: black;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
}

.text-group {
/*    height: */
    text-align: center;
}

.text-group>div {
    background-color: rgba(225,225,225,0.3);
    padding: 80px 30px;
    border-radius: 50px;
}

#name {
    font-size: 60px;
}

#logo {
    text-align: center;
    animation: back-fade-in 1.5s linear .5s 1 normal;
    animation-fill-mode: forwards;
    padding: 0px;
    
}

#logo>img {
    opacity: 0;
    height: 100vh;
    margin: none;
    padding: none;
    animation: fade-in 2s linear 1s 1 normal;
    animation-fill-mode: forwards;
}

.pro-view>img {
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
}

.pro-view {
/*    height: 70vh;*/
    margin-top: 50px;
    margin-bottom: 80px;
    
}

#screenies {
/*    display: flex;*/
/*    height: 80vh;*/
}

#screenies>img {
    height: 400px;
    
    display: inline;
/*    margin: 10px;*/
    margin-left: auto;
    margin-right: auto;
}

.text-based {
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-radius: 20px;

}

.school>h2 {
    color: rgba(12,48,130);
}

.school>#lighter {
    color: rgba(36,93,164);
}

.school>img {
    height: 200px;
}