html {
    scroll-behavior: smooth;
}

body {
    /* background: rgba(7, 83, 175,0.1); */
}

#content {
    margin-top: 40px;
}

nav, #info {
    /* background-image: linear-gradient(to bottom right, purple,orange); */
    background-color: rgb(157, 17, 141);
    color: white;
    border-radius: 0px 0px 10px 10px;
}

#info {
    padding-bottom: 15px;
    position: sticky;
}

a, i {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

a>i {
    padding: 0px 10px 0px 10px;
}

a:visited a:active{
    text-decoration: none;
    color: rgb(190, 124, 0);
}

a:hover, i:hover {
    text-decoration: none;
    color: orange; 
}

/* .card {
    background: none;
    border: none;
}
.card-body {
    color: white;
    background-color: rgba(225,225,225,0.3);
    padding: 80px 30px;
    border-radius: 50px;
} */

#skills {
    list-style-type: none;
}

#skills>div>li {
    margin: 3px 0px 3px 0px;
}

#skills>div>li:nth-child(odd) {
    color: purple;
}
.accordion-button>img {
    /* width: 50px; */
    height: 50px;
    padding-right: 10px;
}

.accordion-button {
    size: 10px;
}

.accordion, .accordion-header {
    background: none;
    
}
.accordion-item {
    background: none;
    border: none;
}

#resume-pic {
    width: 500px;
    transition: 0.3s;
    border-radius: 10px;
}

#resume-pic:hover {
    width: 510px;
    filter: brightness(90%);
}

footer {
	text-align: center;
	color: black;
	transition: .5s;
}

footer:hover {
    color: orange;
}